.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #c9b8a3d0;
}


.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 8px;
  box-shadow: 0px 8px 20px var(--shadow);

  border: 1px solid #ddd;
  border-radius: 999px;
  width: 70%;
  margin: 0 auto;

  padding: 12px 16px;
}

.search-container input {
  border: none;
  outline: none;
  width: 100%;
}