* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Fundos */
  --bg: #f4f2ee;
  --card: #ffffff;
  /* Bordas */
  --border: #d8d5cf;
  /* Textos */
  --text-primary: #2f2f2f;
  --text-secondary: #7a7a7a;
  --text-button-secondary: #646863;
  /* Cor principal da marca */
  --primary: #c9834a;
  --primary-hover: #b87439;
  --btn-destaque: #25D366;
  --border-destaque: #25d366;
  /* Destaques */
  --accent: #8e9b87;
  /* Tons auxiliares */
  --beige: #c9b8a3;
  --taupe: #a08f7a;
  /* Sombras */
  --shadow: rgba(0, 0, 0, 0.18);
  /* Tom claro */
  --secondary-hover: #f1ebeb;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  overflow-x: hidden;
}
